{% extends 'layoutAdmin.html.twig' %}

{% block title %}
	{{ parent() }}
	|| Objectif
{% endblock %}

{% block body %}
	<main class='container'>

		<h1 class="text-center m-5">Objectif</h1>
		<div class="d-flex">
			<a class='btn btn-primary my-4' href="{{ path('app_objective_new') }}">
            <i class= "bi bi-plus-square me-2 align-items-center" ></i>
            Ajouter un objectif</a>
		</div>

		<table class="table my-3">
			<thead>
				<tr>
					<th>Objectif global</th>
					<th>Objectif du mois</th>
				</tr>
			</thead>
			<tbody>
				{% for objective in objectives %}
					<tr>
						<td>{{ objective.globalName }}</td>
						<td>{{ objective.monthName }}</td>
						<td class="d-flex justify-content-end">
							<a class="btn btn-primary mx-2" href="{{ path('app_objective_edit', {'id': objective.id}) }}">
                            <i class= "bi bi-pen me-2" ></i>
                            modifier
                            </a>
							{{ include('objective/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">aucun dossier trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>

{% endblock %}
