{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}
{% block title %}
	{{ parent() }}
	|| Accueil
{% endblock %}
{% block body %}
	<header>
		<div class="row mt-3 justify-content-center position-absolute w-100">
			<div class="d-md-flex col-6 justify-content-center align-items-center d-none">
				<div class="zoom-img overflow-hidden"><img class="anim-image" src="{{ asset('build/images/home.png') }}" alt="Photo du coach entrain de courir">
				</div>
				<div class="zoom-img overflow-hidden"><img src="{{ asset('build/images/home.png') }}" class="anim-image homePhoto2" alt="Photo du coach entrain de courir zoomée">
				</div>
			</div>
		</div>
		<div class="row bg-black div-dark d-none d-md-block position-relative"></div>
		<div class="row bg-light div-light d-none d-md-block position-relative"></div>
	</header>
	<section>
		<div class="d-flex justify-content-center align-items-center my-5">
			<h1 class="">
				<span class="text-primary fw-bold">Seb</span>, votre coach sportif à<span class="text-primary fw-bold">
					Montpellier</span>
				et dans toute la France</h1>
		</div>
		<div class="row bg-dark justify-content-center align-items-center presentation px-3">
			<div class="col-md-5 col-11 d-flex justify-content-center align-items-center overflow-hidden text-center photoPresentation me-md-5 my-4">
				<img src="{{ asset('build/images/photopres.jpeg') }}" class="anim-image presentationImg" alt="Photo du coach"/>
			</div>
			<div class="col-md-7 align-items-center my-md-4 p-md-4 ms-md-5">
				<p class="text-light fs-5">Être coach est une véritable vocation pour moi. J’ai grandi et je vis sport depuis mon plus
										jeune âge, de la compétition à en faire mes études et maintenant mon avenir.
										Je suis quelqu’un de vivant, d’ambitieux, toujours en quête de partage, d’apprentissage,
										je vis au rythme de mes aventures. L’énergie positive et mes valeurs sont mes deux traits
										de caractères, qui me permettent aujourd’hui de m’épanouir dans ce métier passion.</p>

				<p class="text-light fs-5">Coach sportif diplômé, expérimenté, passionné et bienveillant. En effet, j’anime depuis
										des années mes propres concepts de cours collectif en extérieur, j’ai pu également
										coacher en entreprise, puis en salle de sport à titre d’indépendant.</p>

				<p class="text-light fs-5">Sébastien coach sportif inspirant et solaire, saura vous sortir de votre zone de confort et
										atteindre vos objectifs avec sérieux, sans se prendre au sérieux. Son but vous faire
										tomber amoureux d’une vie plus saine et équilibré.</p>
			</div>
		</div>
	</section>
	<section class="row">
		<h1 class="text-center mb-4 mt-5 mb-5 pt-3">Mes services personnels</h1>
		{% for service in services %}
			<div class="card mb-5 border border-light bg-light  ">
				<div class="d-md-flex justify-content-md-evenly align-items-stretch p-0">
					<div class="col-md-5{% if loop.index is even %} order-md-1 {% endif %}">
						{% if service.photo is empty %}
							<img src="{{ asset('build/images/placeholderservice.jpg') }}" class="img-fluid rounded" alt="jogging">
						{% else %}
							<img src="{{vich_uploader_asset(service, 'photoFile')}}" class="img-fluid rounded" alt="jogging">
						{% endif %}
					</div>
					<div class="col-md-5 d-flex align-items-stretch">
						<div class="card-body d-flex flex-column justify-content-between {% if loop.index is even %} order-md-2 ps-md-0 {% else %} pe-md-0 {% endif %}">
							<div>
								<h2 class="card-title mb-3">{{ service.title }}</h2>
								<h3 class="fs-4 text-primary fw-bold fst-italic mb-5">{{ service.question|nl2br }}</h3>
								<p class="card-text fs-5 mb-3 {% if loop.index is even %} text-md-start {% else %} text-md-start{% endif %}">{{ service.description|nl2br }}
								</p>
							</div>
							<a href={{ path('app_contact') }} class="btn btn-outline-primary text-dark fs-5 fw-bold border-2 col-md-4">
								<i class="bi bi-send-fill me-3"></i> Me contacter</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>
	<section class="container">
		<div class="row">
			<h1 class="justify-content-center mb-4 mt-5 text-center">Services aux entreprises</h1>
			<div class="card  p-0 text-center mb-5">
				<img src="{{ asset('build/images/photoentreprisepanoramic.jpg') }}" class="rounded card-img-top p-2" alt="jogging">
				<div class="card-body">
					<h2 class="card-title mb-2 mt-3">Coaching sportif en entreprise</h2>
					<p class="card-text mb-4 fs-5">Plus de convivialité et de cohésion dans votre équipe de travail ?
												Laissez vous guider et motiver par des séances collectives, dynamiques et de cohésion
												pour des salariés heureux.
												Concevoir, équiper, et animer une activité physique au sein de votre entreprise permettra
												d’impulser une dynamique de bien-être sur le lieu de travail.																												
												Je propose un large choix de cours collectif, préalablement réfléchis et adaptés en
												entreprise. Format événementiel unique ou récurrent, sous forme de team building, je
												répond aux différentes demandes.</p>
					<div class="d-flex flex-column align-items-center flex-md-row justify-content-md-between w-100">
						<button type="button" class="btn btn-outline-primary text-dark fw-bold d-flex border-2 justify-content-start fs-5 p-2 ms-md-4 mb-3 mb-md-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
							<i class="bi bi-briefcase-fill me-3"></i>Détails
						</button>
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Coaching entreprise</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"/>
									</div>
									<div class="modal-body">
										<img src="{{ asset('build/images/PlaquetteDeVente.jpg') }}" class="rounded card-img-top p-2 w-100" alt="plaquette d'entreprise">
									</div>
									<div class="modal-footer">
										<a target="_blank" href="{{ asset('build/images/PlaquetteDeVente.pdf') }}" class="btn btn-primary">
											<i class="bi bi-file-earmark-pdf-fill me-2"></i>Télécharger le PDF</a>
									</div>
								</div>
							</div>
						</div>
						<a href={{ path('app_contact') }} class="btn btn-outline-primary text-dark fw-bold border-2 justify-content-end fs-5 p-2 me-md-4">
							<i class="bi bi-send-fill me-3"></i>Me contacter</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
