{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}
{% block title %}
	{{ parent() }}
	|| Accueil
{% endblock %}
{% block body %}
	<section>
		<div class="row mt-3 justify-content-center position-absolute w-100">
			<div class="d-lg-flex col-6 justify-content-center align-items-center d-none">
				<div><img src="{{ asset('build/images/home.png') }}" alt="Photo du coach entrain de courir">
				</div>
				<div class="zoom-img overflow-hidden"><img src="{{ asset('build/images/home.png') }}" class="homePhoto2" alt="Photo du coach entrain de courir zoomée"></div>
			</div>
		</div>
		<div class="bg-dark div-dark d-none d-lg-block position-relative"></div>
		<div class="bg-light div-light d-none d-lg-block position-relative"></div>
	</section>
	<section class="pb-5">
		<h1 class="text-center bg-light py-3">Présentation</h1>
		<div class="container-fluid bg-dark d-flex justify-content-center align-items-center presentation">
			<div class="row d-flex justify-content-center align-items-center">
				<div class="col-lg-6 d-flex justify-content-center align-items-center overflow-hidden photoPresentation me-lg-5 my-4">
					<img src="{{ asset('build/images/home.png') }}" class="presentationImg" alt="Photo du coach"/>
				</div>
				<div class="col-lg-6 align-items-center my-lg-4 px-4">
					<p class="text-light fs-4">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</br>
				<p class="text-light fs-4">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi iusto odit adipisci quia praesentium nemo autem maiores pariatur magnam, assumenda aspernatur, ullam saepe labore ipsum nulla aperiam voluptates vitae blanditiis.
				</p>
			</div>
		</div>
	</div>
</section>
<section class=''>
	{% for service in services %}
		<div class="card w-100 d-flex container">
			<div class="row g-0">
				<div class="col-md-4">
					<img src={{ asset('/build/images/placeholderservice.33708828.jpg') }} class="img-fluid rounded-start m-2" alt="jogging">
				</div>
				<div class="col-md-8 m-auto">
					<div class="card-body">
						<h5 class="card-title">{{ service.title }}</h5>
						<p class="card-text">{{ service.description }}
						</p>
						<a href="#" class="btn btn-primary m-2">Me contacter</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</section>
{% endblock %}
