{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1 class="d-flex justify-content-center mt-5 mb-3">Enregistrement de compte</h1>
	{{ form_start(registrationForm) }}
	<div class="container bg-light mt-auto">
		<div class="row">
			<div class="align-items-center col-lg-6 col-md-12 mt-2">
				{{ form_row (registrationForm.email, {'attr':{'class':'form-control'}})}}
			</div>
			<div class="align-items-center col-lg-6 col-md-12 mt-2">
				{{ form_row (registrationForm.name, {'attr':{'class':'form-control'}})}}
			</div>
			<div class="align-items-center col-lg-6 col-md-12 mt-2">
				{{ form_row (registrationForm.plainPassword, {'attr':{'class':'form-control'}})}}
			</div>
		</div>
		{{ form_row(registrationForm.agreeTerms) }}
		<div class="d-flex justify-content-center mt-2 mb-5">
			<button type="submit" class="btn border bg-black text-light rounded mb-3">
				<i class="bi bi-person-badge-fill me-2"></i>S'enregister</button>
		</div>
	</div>
	{{ form_end(registrationForm) }}
{% endblock %}
