{% extends 'layoutAdmin.html.twig' %}

{% block title %}
	Modifier le client

{% endblock %}

{% block body %}
	<main class="container">
		<h1 class="m-5 text-center">
			Modifier le client
		</h1>
		<h2 class="text-center">
			Objectifs
		</h2>
		<a class="btn btn-dark text-light fs-5" href="{{ path('app_user_index') }}">
			<i class="bi bi-box-arrow-left me-2"></i>
			Retour
		</a>
		<section class="fs-5 mb-5">
			{{ include('adminClient/_form.html.twig', {'button_label': 'Modifier'}) }}
		</section>
		<h2 class="text-center mb-5">
			Nutrition
		</h2>
		<section class="fs-5 mb-5">
			<a class="btn btn-primary" href="{{ path('app_nutrition_meal_new', {'id': client.id}) }}">
				<i class="bi bi-plus-circle me-2"></i>
				Ajouter</a>
		</section>
		<div class="container shadow-sm rounded">
			<table class="table table-hover">
				<thead class="m-5">
					<tr class="fs-4">
						<th>
							Nom du repas
						</th>
						<th>
							Protéines en g
						</th>
						<th>
							Lipides en g
						</th>
						<th>
							Glucides en g
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for nutrition in client.nutritionMeals %}
						<tr class="fs-5">
							<td class="mx-3">{{nutrition.mealName}}</td>
							<td class="mx-3">{{nutrition.proteins}}</td>
							<td class="mx-3">{{nutrition.lipids}}</td>
							<td class="mx-3">{{nutrition.carbohydrate}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<h2 class="text-center mb-5">
			Séances et exercices
		</h2>
		<table class="w-100 ">
				<a href="{{ path('app_session_new', { 'id' : client.id }) }}" class="btn btn-primary mb-3 mt-3">
					Ajouter
				</a>
			{% for session in sessions %}
				<thead class="m-5">
					<tr>
						<th>
							{{ session.name }}
						</th>
						<th></th>
						<th>
							<a href="{{ path('app_session_edit', { 'id' : session.id }) }}" class="btn btn-primary mb-3 mt-3">
								Modifier
							</a>
							{{ include('session/_delete_form.html.twig') }}
						</th>
					</tr>
					<tr>
						<th>
							Nom de l'exercice
						</th>
						<th>
							Durée de repos
						</th>
						<th>
							Nombre de répétition
						</th>
					</tr>
				</thead>
				<tbody>
					{% for exercise in session.exercises %}
						<tr>
							<td class="m-3">
								{{ exercise.name }}
							</td>
							<td class="m-3">
								{{ exercise.duration }}
							</td>
							<td class="m-3">
								{{ exercise.repetition }}
							</td>
						</tr>
					{% endfor %}
					<tr>
						<th>Commentaire</th>
					</tr>
					<tr>
						<td>
							{{ session.comment }}
						</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</main>
{% endblock %}
