{{ form_start(form) }}
{{ form_row(form.name)}}
{{ form_row(form.number)}}
    <h3>Exercice</h3>
    {# <ul class="exercise">
        {% for exercise in form.exercises %}
            <li>{{ form_row(exercise.name) }}</li>
			<li>{{ form_row(exercise.duration) }}</li>
			<li>{{ form_row(exercise.repetition) }}</li>
        {% endfor %}
    </ul> #}
	{# <button type="button" class="add_item_link" data-collection-holder-class="tags">Add a exercise </button> #}
	
<button>Valider</button>
{{ form_end(form) }}
