{{ form_start(form) }}
<div class="d-flex justify-content-between">
<div class="col-6">{{ form_row(form.name)}}</div>
	{{ form_row(form.number)}}
</div>
{{ form_row(form.exercises)}}
<button class="btn btn-primary">Valider</button>
{{ form_end(form) }}

