{% extends 'layoutAdmin.html.twig' %}

{% block title %}
	{{ parent() }}
	||Modifier séance
{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('collection') }}{% endblock %}
{% block body %}
	<main class="container">
		<h1 class="d-flex justify-content-center my-5">Modifier la séance de {{ session.client.user.name }}</h1>
		<a class="btn btn-outline-secondary fs-5" href="{{ path('app_client_edit', {'id': client.id}) }}">
						<i class="bi bi-box-arrow-left me-2 "></i>
						Retour
					</a>
		{{ include('session/_form.html.twig', {'button_label': 'Modifier'}) }}
	</main>
{% endblock %}
