{% extends 'layoutClient.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('client') }}
{% endblock %}
{% block title %}
	{{ parent() }}|| Modifier mon profil
{% endblock %}

{% block body %}
	<main>
		<div class="row">
			<div class="col-xl-3 col-xxl-2 sidebar">
				<nav id="sidebar" class="d-flex flex-column sticky-xl-top p-3">
					<h1 class="d-flex justify-content-xl-start justify-content-center mt-4 mb-3 my-md-3 text-dark ms-2 fw-bold">{{ client.user.name }}</h1>
					<a href="#profil" class="fs-4 d-xl-flex justify-content-start text-dark mt-3 ms-2 text-decoration-none d-none">
						<i class="bi bi-person-fill me-3"></i>Profil</a>
					<a href="#measure" class="fs-4 d-xl-flex justify-content-start text-dark mt-3 ms-2 text-decoration-none d-none">
						<i class="bi bi-rulers me-3"></i>Mensurations</a>
					<a href="{{ path('app_client_index') }}" class="btn btn-outline-secondary fs-4 d-xl-flex justify-content-start mt-3 ms-2 w-50 d-none">
						<i class="bi bi-box-arrow-left me-2"></i>Retour</a>
				</nav>
			</div>
			<div data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-offset="0" data-bs-smooth-scroll="true" class="col-xl-9 col-xxl-10 mb-5" tabindex="0">
				<div class="p-3">
					<div class="d-flex justify-content-center">
						<h1 class="d-flex justify-content-center mt-md-5 mb-3" id="profil">Modifier votre profil</h1>
					</div>
					{{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
