{% extends 'layoutClient.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('client') }}
{% endblock %}
{% block title %}
	{{ parent() }}|| Mon profil
{% endblock %}

{% block body %}
	<main>
		<section>
			<div class="row mt-3 justify-content-center position-absolute w-100">
				<div class="d-lg-flex  col-xl-6 col-lg-8 ms-xl-5 justify-content-center align-items-center d-none">
					<div class="photoClient position-relative">
						{% if client.photoBefore is empty %}
							<img src="{{ asset('build/images/placeholderClient.jpg') }}" alt="Photo d'avant" class="photo w-100">
						{% else %}
							<img src="{{vich_uploader_asset(client, 'beforeFile')}}" alt="Photo d'avant" class="photo w-100">
						{% endif %}
						<div class="d-flex gap-3 align-items-center position-absolute translate-middle start-50 bottom-0 bg-dark badge rounded-pill">
							<span class="fs-6 text-light fw-light">Avant</span>
							<span class="fs-6 text-light">{{ client.dateBefore|date("d/m/Y") }}</span>
						</div>
					</div>
					<div class="photoClient position-relative">
						{% if client.photoAfter is empty %}
							<img src="{{ asset('build/images/placeholderClient.jpg') }}" alt="Photo d'après" class="photo w-100">
						{% else %}
							<img src="{{vich_uploader_asset(client, 'afterFile') }}" alt="Photo d'après" class="photo w-100">
						{% endif %}
						<div class="d-flex gap-3 align-items-center position-absolute translate-middle start-50 bottom-0 bg-dark badge rounded-pill">
							<span class="fs-6 text-light fw-light">Après</span>
							<span class="fs-6 text-light">{{ client.dateAfter|date("d/m/Y") }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row bg-black div-dark d-none d-xl-block position-relative"></div>
		</section>

		<div class="row">
			<div class="col-xl-3 col-xxl-2 sidebar">
				{% include 'component/_client_sidebar.html.twig' %}
			</div>
			<div data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-offset="0" data-bs-smooth-scroll="true" class="col-xl-9 col-xxl-10 p-4" tabindex="0">
				<div class="bg-light div-light d-none d-xl-block position-relative row"></div>

				<section class="mb-5 mt-xl-0 col-xl-10 col-md-11">
					<h1 class="border-bottom border-primary border-1 w-100 mb-4 title p-2" id="goal">
						<i class="bi bi-speedometer2 me-2"></i>Objectifs
					</h1>
					<div class="p-3 col-md-4">
						<div class="d-flex gap-3">
							<p class="fs-5 objectif text-secondary fw-light">Global</p>
							<p class="fs-5">{{ client.globalName}}</p>
						</div>
						<div class="d-flex gap-3">
							<p class="fs-5 objectif text-secondary fw-light">Mensuel</p>
							<p class="fs-5">{{ client.monthName}}</p>
						</div>
						<div class="d-flex gap-3">
							<p class="fs-5 objectif text-secondary fw-light">Nutrition</p>
							<p class="fs-5">{{ client.objectiveNutrition}}</p>
						</div>
					</div>
				</section>

				<section class="mb-5">
					<div class="d-flex col-xl-10 col-md-11">
						<h1 class="mb-4 title p-3 d-flex border-bottom border-primary border-1 w-100" id="measurement">
							<i class="bi bi-rulers me-2"></i>
							Mensurations</h1>
					</div>
					<div class="row px-3">
						<div class="tab-content rounded col-xl-10 col-md-11">
							{% include "component/_measurement_client.html.twig" %}
						</div>
					</div>
				</section>

				<section class="mb-5">
					<div class="row">
						<div class="tab-content col-xl-10 col-md-11" id="pills-tabContent">
							<h1 class="mb-4 title p-3 d-flex border-bottom border-primary border-1" id="session">
								<i class="bi bi-check-all"></i>Séances</h1>
							<ul class="px-2 nav nav-pills mb-3 " id="pills-tab" role="tablist">
								{% for session in client.sessions %}
									<li class="nav-item" role="presentation">
										<button class="nav-link {{ loop.first ? 'active' }} " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-{{session.id}}" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Séance
											{{session.number}}</button>
									</li>
								{% endfor %}
							</ul>
							{% for session in client.sessions  %}
								<div class="p-1 pt-3 ps-3 ms-2 tab-pane fade {{ loop.first ? 'show active' }} border-1 border-start" id="pills-{{session.id}}" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
									<h3 class="">
										Séance
										{{session.name}}</h3>
									<table class="table table-hover container fs-5 mb-4 p-3">
										<thead class="border-bottom">
											<tr class="rounded-3">
												<th class="">Exercices</th>
												<th class="">Répetitions</th>
												<th class="">Repos</th>
											</tr>
										</thead>
										<tbody class="border-top-0">
											{% for exercise in session.exercises %}
												<tr>
													<td class="border-top-0 font-td">{{exercise.name}}</td>
													<td class="border-top-0 font-td">{{exercise.repetition}}</td>
													<td class="border-top-0 font-td">{{exercise.duration}}</td>
												</tr>
											{% endfor %}

										</tbody>
									</table>
									{% include "client/_comment_form.html.twig" %}
								</div>
							{% endfor %}
						</div>
					</div>
				</section>

				<section class="mb-5">
					<div class="d-flex col-xl-10 col-md-11">
						<h1 class="mb-4 title p-3 d-flex border-bottom border-primary border-1 w-100" id="nutrition">
							<i class="bi bi-cup-straw"></i>Nutrition</h1>
					</div>
					<div class="row mb-5 p-3">
						<div class="col-xl-10 col-md-11">
							<div class="d-flex gap-3">
								<p class="fs-5 objectif text-secondary fw-light">Dépense énergétique</p>
								<p class="fs-5">{{ client.energyExpenditure}}
									Kcal</p>
							</div>
							<div class="d-flex gap-3">
								<p class="fs-5 objectif text-secondary fw-light">Hydratation journalière</p>
								<p class="fs-5">{{ client.water}}
									L</p>
							</div>
						</div>
						<div class="rounded col-xl-10 col-md-11">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="font-td">Repas</th>
										<th class="font-td">Protéines</th>
										<th class="font-td">Lipides</th>
										<th class="font-td">Glucides</th>
									</tr>
								</thead>
								<tbody>
									{% for nutritionMeal in client.nutritionMeals %}
										<tr>
											<td class="column font-td">{{nutritionMeal.mealName}}</td>
											<td class="column font-td">{{nutritionMeal.proteins}}
												g</td>
											<td class="column font-td">{{nutritionMeal.lipids}}
												g</td>
											<td class="column font-td">{{nutritionMeal.carbohydrate}}
												g</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
{% endblock %}
