{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('client') }}
{% endblock %}
{% block title %}Mon profil
{% endblock %}

{% block body %}
	<main>
		<h1 class="d-flex justify-content-center mt-5">Bienvenue {{ client.user.name }}</h1>
		<div class="row my-md-5 mx-1">
			<div class="d-flex justify-content-around">
				<div class="card shadow-sm rounded col-lg-4 col-md-6 col-12 p-2">
					<h2 class="card-title d-flex justify-content-center my-3">Avant</h2>
					<div class="overflow-hidden photoBeforeSize">
						{% if client.photoBefore is empty %}
							<img src="{{ asset('build/images/placeholderClient.jpg') }}" alt="Photo d'avant" class="photoClient img-fluid float-center">
						{% else %}
						<img src="{{vich_uploader_asset(client, 'beforeFile')}}" alt="Photo d'avant" class="photoClient"> 
						{% endif %}
					</div>
				</div>
				<div class="card shadow-sm rounded col-lg-4 col-md-6 col-12 p-2">
					<h2 class="card-title d-flex justify-content-center my-3">Après</h2>
					<div class="overflow-hidden photoBeforeSize">
						{% if client.photoAfter is empty %}
							<img src="{{ asset('build/images/placeholderClient.jpg') }}" alt="Photo d'après" class="photoClient img-fluid float-center">
						{% else %}
							<img src="{{vich_uploader_asset(client, 'afterFile') }}" alt="Photo d'après" class="photoClient">
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
