{% extends 'layoutClient.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('client') }}
{% endblock %}
{% block title %}Mon profil
{% endblock %}

{% block body %}
	<main>
		<h1 class="d-flex justify-content-center mt-5">Bienvenue
			{{ client.user.name }}</h1>
		<h2 class="text-center my-5">Votre objectif global :
			{{ client.globalName}}</h2>
		<div class="row my-md-5 mx-1">
			<div class="d-flex justify-content-around align-items-center">
				<div class="card shadow-sm rounded col-lg-4 col-md-6 col-12 p-2">
				<div class="d-flex justify-content-around align-items-center my-3">
					<h2 class="card-title">Avant</h2>
					<p class="fs-3">{{ client.dateBefore|date("d/m/Y") }}</p>
					</div>
					<div class="overflow-hidden photoBeforeSize">
						{% if client.photoBefore is empty %}
							<img src="{{ asset('build/images/placeholderClient.jpg') }}" alt="Photo d'avant" class="photoClient img-fluid float-center">
						{% else %}
							<img src="{{vich_uploader_asset(client, 'beforeFile')}}" alt="Photo d'avant" class="photoClient">
						{% endif %}
					</div>
				</div>
				<div class="">
					<a class="btn btn-primary text-dark rounded fs-4" href="{{ path('client_edit_profil') }}">
						<i class="bi bi-plus-circle me-2"></i>Modifier mon profil</a>
				</div>
				<div class="card shadow-sm rounded col-lg-4 col-md-6 col-12 p-2">
				<div class="d-flex justify-content-around align-items-center my-3">
					<h2 class="card-title">Après</h2>
					<p class="fs-3">{{ client.dateAfter|date("d/m/Y") }}</p>
					</div>
					<div class="overflow-hidden photoBeforeSize">
						{% if client.photoAfter is empty %}
							<img src="{{ asset('build/images/placeholderClient.jpg') }}" alt="Photo d'après" class="photoClient img-fluid float-center">
						{% else %}
							<img src="{{vich_uploader_asset(client, 'afterFile') }}" alt="Photo d'après" class="photoClient">
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<h2 class="text-center my-5">Votre objectif du mois :
			{{ client.monthName}}</h2>
		<section>
			<div class="d-flex justify-content-center">
				<h2 class="mb-3 title p-3 d-flex justify-content-center">
					<i class="bi bi-rulers me-2"></i>Mensurations</h2>
			</div>
			<div class="container shadow rounded">
				<table class="table table-hover">
					<thead>
						<tr class="fs-4">
							<th>Nom</th>
							<th>Avant</th>
							<th>Après</th>
						</tr>
					</thead>
					<tbody>
						{% for measurementClient in client.measurementClients %}
							<tr class="fs-5">
								<td class="column">{{ measurementClient.measurement.name }}</td>
								<td class="column">{{ measurementClient.valueBefore }}
									{{measurementClient.measurement.unity}}</td>
								<td class="column">{{ measurementClient.valueAfter }}
									{{measurementClient.measurement.unity}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
	</main>
{% endblock %}
