{% extends 'layout.html.twig' %}

{% block title %}Contact coach
{% endblock %}

{% block body %}
	<h1 class="d-flex justify-content-center mt-5 mb-4">Contacter le coach sportif</h1>
	{{ form_start(form) }}
	<div class="container shadow border border-2 border-dark bg-secondary rounded-5 mt-auto">
		<div class="row">
			<div class="align-items-center col-lg-6 col-md-12 mt-2 fs-5">
				{{ form_row (form.firstname, {'attr':{'class':'form-control'}})}}
			</div>
			<div class="align-items-center col-lg-6 col-md-12 mt-2 fs-5">
				{{ form_row (form.lastname, {'attr':{'class':'form-control'}})}}
			</div>
			<div class="align-items-center col-lg-6 col-md-12 mt-2 fs-5">
				{{ form_row (form.telephone, {'attr':{'class':'form-control'}})}}
			</div>
			<div class="align-items-center col-lg-6 col-md-12 mt-2 fs-5">
				{{ form_row (form.email, {'attr':{'class':'form-control'}})}}
			</div>
			<div class="align-items-center col-lg-12 mt-2 fs-5">
				{{ form_row (form.message, {'attr':{'class':'form-control'}})}}
			</div>
		</div>
		<div class="d-flex justify-content-center my-4">
			<button class="btn btn-button bg-black text-light mb-3 fs-5"><i class="bi bi-send-fill me-2"></i>{{ button_label|default('Envoyer') }}</button>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
